.todo_list {

    display: flex;
    flex-direction: column;
    gap: 5px;
}

.todo_card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;

}

.todo_card_active {
    text-decoration: line-through;
}

.todo_card:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
}

.todo_card_item {
    cursor: pointer;
}