.toDo_container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.toDo_item {
    width: 400px;
    max-width: 100%;
}

.toDo_title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.toDo_element {
    
    width: 400px;
    max-width: 100%;
}
.toDo_element_container{
    display: flex;
    align-items: center;
    justify-content: center;
}